@charset "utf-8";
/* CSS Document */
*{
	padding:0;
	margin:0;
	border:0;
	font-size:36px;
	font-weight:bold;
	color:#003;	
	background-color: rgba(0,0,0,0);
}

body{
	background-image:url(../images/bkgd.png);
}

#alertboard{
	position:fixed;
	z-index:100;
	background-color: rgba(255,255,255,0.5);
	height:100px;
	top:0;
	left:25%;
	right:25%;
}

#maincontent{
	position:relative;
	margin: 150px auto;
	background-color:rgba(0,0,0,0);
	width:896px;
	height:970px;
}

#inputplayers{
	background-color: rgba(255,255,255,.5);
	padding-top: 90px;
	height: 400px;
}

#submitbtn{
	background-color:#9FF;
	margin-top:50px;
	padding:10px;
}

#howmanyplayers, #howmanycomputers{
	margin-top:10px;
	width:50px;	
}