<link rel="stylesheet" type="text/css" href="views/gameviews/catan/css/CatanStyles.css">

<div id="catanbody">
    <div id="contentcontainer">

        <div id="playerroster"></div>

        <div id="gameboard">
            <div id="gameboardpadding">
                <div id="pieces"></div>
            </div>
        </div>

        <div id="cardcontainer">
            <div id="cardcontainerpadding">
                <div id="devcards"></div>
                <div id="longestroad"></div>
                <div id="largestarmy"></div>
                <div id="lumbercards"></div>
                <div id="sheepcards"></div>
                <div id="brickcards"></div>
                <div id="wheatcards"></div>
                <div id="orecards"></div>
            </div>
        </div>

    </div>
    
</div>
<div id="alertboard"></div>

<script src="views/gameviews/catan/js/CatanCommunications.js"></script>

<script src="views/gameviews/catan/js/CatanAssetManager.js"></script>

<script src="views/gameviews/catan/js/CatanTileRender.js"></script>
<script src="views/gameviews/catan/js/CatanPortRender.js"></script>
<script src="views/gameviews/catan/js/CatanRobberRender.js"></script>
<script src="views/gameviews/catan/js/CatanCardRender.js"></script>

<script src="views/gameviews/catan/js/CatanCitySpacesManager.js"></script>
<script src="views/gameviews/catan/js/CatanRoadSpacesManager.js"></script>

<script src="views/gameviews/catan/js/CatanBoardRender.js"></script>
<script src="views/gameviews/catan/js/CatanGame.js"></script>
