<link rel="stylesheet" type="text/css" href="views/gameviews/catan/css/CatanStyles.css">

<div id="catanbody">
    <div id="contentcontainer">

        <div id="gameboard">
            <div id="pieces"></div>
        </div>

        <div id="cardcontainer">
            <div id="cardpile"></div>
        </div>

        <div id="playerroster"></div>

    </div>
    
</div>
<div id="alertboard"></div>

<script src="views/gameviews/catan/js/CatanCommunications.js"></script>
<script src="views/gameviews/catan/js/CatanAssetManager.js"></script>
<script src="views/gameviews/catan/js/CatanTileRender.js"></script>
<script src="views/gameviews/catan/js/CatanPortRender.js"></script>
<script src="views/gameviews/catan/js/CatanRobberRender.js"></script>
<script src="views/gameviews/catan/js/CatanDevCardManager.js"></script>
<script src="views/gameviews/catan/js/CatanResCardManager.js"></script>
<script src="views/gameviews/catan/js/CatanCitySpacesManager.js"></script>
<script src="views/gameviews/catan/js/CatanRoadSpacesManager.js"></script>
<script src="views/gameviews/catan/js/CatanBoardRender.js"></script>
<script src="views/gameviews/catan/js/CatanGame.js"></script>
