<link rel="stylesheet" type="text/css" href="views/gameviews/catan/css/CatanStyles.css">

<div id="maincontent">
    <div id="gameboard">
        <div id="shoreregion"></div>
        <div id="tileregion"></div>
    </div>
</div>
<div id="alertboard"></div>

<script src="views/gameviews/catan/js/CatanCommunications.js"></script>
<script src="views/gameviews/catan/js/CatanAssetManager.js"></script>
<script src="views/gameviews/catan/js/CatanTileManager.js"></script>
<script src="views/gameviews/catan/js/CatanBoardRender.js"></script>
<script src="views/gameviews/catan/js/CatanGame.js"></script>
