<!doctype html>
<html>
	<head>
	</head>
	<body>
		<div id="GameBoard" style="position: relative; height:866px; width:800px">
			<img src="images/forest1.png" style="position:absolute;z-index:2;width:25%;height:20%;top:20%;left:0%;" alt="forest1">
			<img src="images/forest1.png" style="position:absolute;z-index:2;width:25%;height:20%;top:10%;left:18.75%;" alt="forest1">
			<img src="images/forest1.png" style="position:absolute;z-index:2;width:25%;height:20%;top:0%;left:37.5%;" alt="forest1">
			<img src="images/forest1.png" style="position:absolute;z-index:2;width:25%;height:20%;top:40%;left:0%;" alt="forest1">
			<img src="images/forest1.png" style="position:absolute;z-index:2;width:25%;height:20%;top:30%;left:18.75%;" alt="forest1">
			<img src="images/forest1.png" style="position:absolute;z-index:2;width:25%;height:20%;top:20%;left:37.5%;" alt="forest1">
			<img src="images/forest1.png" style="position:absolute;z-index:2;width:25%;height:20%;top:10%;left:56.25%;" alt="forest1">
			<img src="images/forest1.png" style="position:absolute;z-index:2;width:25%;height:20%;top:60%;left:0%;" alt="forest1">
			<img src="images/forest1.png" style="position:absolute;z-index:2;width:25%;height:20%;top:50%;left:18.75%;" alt="forest1">
			<img src="images/forest1.png" style="position:absolute;z-index:2;width:25%;height:20%;top:40%;left:37.5%;" alt="forest1">
			<img src="images/forest1.png" style="position:absolute;z-index:2;width:25%;height:20%;top:30%;left:56.25%;" alt="forest1">
			<img src="images/forest1.png" style="position:absolute;z-index:2;width:25%;height:20%;top:20%;left:75%;" alt="forest1">
			<img src="images/forest1.png" style="position:absolute;z-index:2;width:25%;height:20%;top:70%;left:18.75%;" alt="forest1">
			<img src="images/forest1.png" style="position:absolute;z-index:2;width:25%;height:20%;top:60%;left:37.5%;" alt="forest1">
			<img src="images/forest1.png" style="position:absolute;z-index:2;width:25%;height:20%;top:50%;left:56.25%;" alt="forest1">
			<img src="images/forest1.png" style="position:absolute;z-index:2;width:25%;height:20%;top:40%;left:75%;" alt="forest1">
			<img src="images/forest1.png" style="position:absolute;z-index:2;width:25%;height:20%;top:80%;left:37.5%;" alt="forest1">
			<img src="images/forest1.png" style="position:absolute;z-index:2;width:25%;height:20%;top:70%;left:56.25%;" alt="forest1">
			<img src="images/forest1.png" style="position:absolute;z-index:2;width:25%;height:20%;top:60%;left:75%;" alt="forest1">
		</div>
	</body>
</html>