<!doctype html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="views/appviews/fake/css/FakeStyles.css">
	</head>
	<body>
		<form>
			username <input id="usernameInput" type="text" name="username">
		</form>
		<div id="userArea">
			<button onclick="AddUser()">Add User</button>
			<button onclick="RemoveUser()">Remove User</button>
		</div>
		
		<div id="configArea">
			<button onclick="SendConfig()">Send Config</button>
		</div>
		
		<div id="gameArea">
			<button onclick="LoadGame()">Load Game</button>
			<button onclick="AddSettlement()">Add Settlement</button>
		</div>
		
		<script src="/socket.io/socket.io.js"></script>
		<script src="views/appviews/fake/js/FakeSocketCommunications.js"></script>
	</body>
</html>