<html>
    <head>
        <link rel="stylesheet" type="text/css" href="views/appviews/home/css/homeStyles.css">

    </head>
    <body>
        
        <div id="GlobalContainer">  
            <div id="BackgroundMasking"></div>
            <div id="LogoContainer" class="largeRect"></div>
            <div id="LogoTrace" class="largeRect"></div>
            <div id="TitleContainer"></div>
        </div>
    </body>
</html>