<link rel="stylesheet" type="text/css" href="views/appviews/home/css/homeStyles.css">

<div id="GlobalContainer">  
    <div id="BackgroundMasking"></div>
    <div id="LogoContainer" class="largeRect"></div>
    <div id="LogoTrace" class="largeRect"></div>
    <div id="CanvasContainer">
        <canvas id="UsersCanvas" width="1280" height="720" style="border:1px solid #d3d3d3;">
	        Your browser does not support the HTML5 canvas tag.</canvas>
    </div>
        <div id="TitleContainer"></div>
    </div>

<script src="views/appviews/home/js/HomeCommunications.js"></script>
<script src="views/appviews/home/js/Initialize.js"></script>
<script src="views/appviews/home/js/UserBubbleAnimation.js"></script>
<script src="views/appviews/home/js/Update.js"></script>
<script src="views/appviews/home/js/GridRender.js"></script>
<script src="views/appviews/home/js/RenderAnimation.js"></script> 
