<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Game Central Kiosk</title>
</head>
<body>

    <!-- Preload Scripts -->
    
 
    {{{body}}}
  
	<!-- Postload Scripts -->
	<script src="/socket.io/socket.io.js"></script>
    <script src="views/layouts/js/SocketCommunicationService.js"></script>
	
</body>
</html>